/* Card.css */

.card {
  width: 300px;
  height: 300px;
  border: 2px solid transparent;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  /* overflow: hidden; */
  border-radius: 50%; /* Hacer la tarjeta completamente redonda */
  transition: border-radius 0.3s, box-shadow 0.3s; /* Agrega una transición para las esquinas y el efecto de relieve */
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 0, 102, 0.7); /* Efecto de relieve alrededor de la tarjeta (neon) */
}

.card:hover {
  border-radius: 10px; /* Ajusta las esquinas ligeramente redondeadas al hacer hover */
  box-shadow: 0 0 20px rgba(255, 0, 102, 0.7), 0 0 30px rgba(255, 0, 102, 0.7), 0 0 40px rgba(255, 0, 102, 0.7); /* Efecto de relieve más pronunciado (neon) al hacer hover */
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imgCard {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  transition: border-radius 0.3s;
}

.card:hover .imgCard {
  border-radius: 0;
}

.content {
  padding: 10px;
  display: none;
}

.card:hover .content {
  display: block;
}

.content p {
  margin: 5px 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-neon {
  color: #FF00FF; /* Color del texto en fucsia */
  text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; /* Efecto de neón con sombras en fucsia */
}
