.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px; 
    margin: 0 auto; 
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea,
select,
button {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    
}

.error-text {
    color: red; 
    font-size: 12px; 
    margin-top: -10px;
}

.success-text {
    color: limegreen; 
    font-size: 16px; 
}

.neon-input {
    background-color: transparent;
    border: 2px solid #FF00FF;
    color: #FF00FF;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    outline: none;
  }
  
  .neon-input:focus {
    color: #FFFFFF;
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
  }
  .eliminar-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.eliminar-icon {
    width: 12px; 
    height: 12px;
  }
.container-genres {
    display: flex;
    justify-content: space-between;
    display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.ventana {
  /* background-color: rgba(0, 0, 0, 0.95); */
  /* background-color: #3C3C3C; */
  background-color: black;
    color: white;
    padding: 20px;
    width: 250px;
    height: 150px;
    border-radius: 50px; 
    margin: 0 auto; 
    margin-top: 100px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #FF00FF; 
  color: #FF00FF; 
  box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
}
.neon-button {
  background-color: transparent;
  border: 2px solid #FF00FF; 
  color: #FF00FF; 
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s; 
  outline: none;
}

.neon-button:hover {
  background-color: #FF00FF; 
  color: #FFFFFF; 
  box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; 
  text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
}

.disabled-button {
  background-color: transparent;
  border: 2px solid #707070; 
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 25%;
  outline: none;
}
.check {
  filter: brightness(1.7);
  width: 100px;
}
.error {
  width: 60px;
}

::placeholder {
  font-style: italic;
  color: #666;
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
  font-style: italic;
  color: #666;
}

textarea::placeholder {
  font-style: italic;
  color: #666;
  font-size: 14px;
}
