/* Home.css */
.filters-container {
  background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    width: 250px;
    position: fixed;
    height: 100%;
    /* Agrega una barra de desplazamiento vertical si es necesario */
    margin-top: 52px;
}

.cards-container {
    margin-left: 270px;
    padding: 20px;
    min-height: 100vh; /* Altura mínima para asegurar que la barra de filtrado se mantenga fija */
}

.selected-genres-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre las palabras */
  }
  
  .selected-genre {
    display: flex;
    align-items: center;
  }
  
  .remove-genre {
    background: none;
    border: none;
    font-size: 12px;
    padding: 0;
    margin-right: 5px; /* Espacio entre la "X" y la palabra */
    color: red;
    cursor: pointer;
  }


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Fondo negro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté en la parte superior */
}

.neon-loading {
  font-size: 24px;
  color: #FF00FF; /* Color fucsia "neón" */
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neon-circle {
  width: 100px;
  height: 100px;
  background-color: #FF00FF; /* Color de fondo fucsia */
  border-radius: 50%;
  animation: neon 1s linear infinite, rotate 2s linear infinite; /* Agrega animación de neon y rotación */
}
.filtros-neon-button {
  background-color: transparent;
  border: 2px solid #FF00FF; /* Contorno del botón */
  border-radius: 8px;
  color: #FF00FF; /* Texto de color fucsia */
  font-size: 11px;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s; /* Efecto de neon */
  outline: none;
}
.filtros-neon-button.active {
  background-color: #FF00FF; /* Cambio de color de fondo para el botón activo */
  color: #FFFFFF; /* Cambio de color del texto para el botón activo */
  box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; /* Efecto de neón para el botón activo */
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 260px
}

.error-message {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 150px;
  margin-left: 100px;
}

.error-mario {
  
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1px;
    z-index: 999;
  width: 800px;
  
}
@keyframes neon {
  0%, 100% {
      box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
  }
  50% {
      box-shadow: none;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
select {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 2px solid #FF00FF;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
}