.nav-container {
    background-color: #000; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000; 
  }
  
  .neon-button {
    background-color: transparent;
    border: 2px solid #FF00FF;
    color: #FF00FF;
    font-size: 16px;
    padding: 5px 10px;
    
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    outline: none;
  }
  .reset {
    width: 50px;
  }
  .neon-button:hover {
    background-color: #FF00FF; 
    color: #FFFFFF;
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; 
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
  }
  .neon-button-home {
    background-color: transparent;
   
    font-size: 16px;
    margin: -15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    outline: none;
  }
  .neon-button-home:hover {
    background-color: #FF00FF;
    color: #FFFFFF;
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; 
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
    margin: -15px;
  }
  .neon-link {
    text-decoration: none;
  }  