/* Nav.css */

.nav-container {
    background-color: #000; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo con transparencia (ajusta el valor alpha según lo desees) */
    z-index: 1000; /* Asegura que la barra esté por encima del contenido */
    
  }
  
  .neon-button {
    background-color: transparent;
    border: 2px solid #FF00FF; /* Contorno del botón */
    color: #FF00FF; /* Texto de color fucsia */
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, text-shadow 0.3s; /* Efecto de neon */
    outline: none;
  }
  
  .neon-button:hover {
    background-color: #FF00FF; /* Cambio de color de fondo al hacer hover */
    color: #FFFFFF; /* Cambio de color del texto al hacer hover */
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; /* Efecto de neon al hacer hover */
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; /* Efecto de neon para el texto al hacer hover */
  }
  .neon-link {
    text-decoration: none; /* Quitar la línea de enlace */
  }  