.all-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 70px;
}
.pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
   margin-left: 300px;
}
.boton-next {
    width: 10px;
}
.boton-prev {
    transform: scaleX(-1);
    width: 10px;
}
.boton-last {
    /* filter: brightness(150%) hue-rotate(300deg); */
    width: 20px;
}

.neon-button {
    background-color: transparent;
    border: 2px solid #FF00FF;
    color: #FF00FF;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    outline: none;
}

.neon-button.active {
    background-color: #FF00FF; 
    color: #FFFFFF;
    box-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF; 
}

.texto {
    color: white;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.number-button {
    width: 40px;
}
